.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.highlight {
  /* Green highlight */
  background-color: #98FB98;
}

/* questionable classes for rounded corners on corner squares */
.top-left {
  border-radius: 3px 0px 0px 0px;
}

.top-right {
  border-radius: 0px 3px 0px 0px;
}

.bottom-left {
  border-radius: 0px 0px 0px 3px;
}

.bottom-right {
  border-radius: 0px 0px 3px 0px;
}
