.reset {
  background-color: #e6917a;
  border-bottom: 1px solid #ad6d6f;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-radius: 3px;
  color: #fff;
  height: 44px;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  padding: 0 18px;
  font-weight: 500;
}

.reset:hover {
  background-color: #e67f7a;
}

.reset:active {
  background-color: #db9784;  /* 55% saturation */
  border-bottom: 1px solid 	#bf8d8e;
}
