.gamePanel, .boardContainer {
  display: inline;
}

.gameContainer {
  display: flex;
  justify-content: center;
}

.playerInfo {
  display: flex;
  height: 50%;
}

.playerScore, .playerName, .playerIcon {
  vertical-align: middle;
  display: table-cell;
  line-height: 30px;
}

.playerScore {
  width: 40px;
  text-align: center;
  border-right: 1px solid rgb(186, 186, 186);
  font-size: 18px;
}

.playerName {
  padding-left: 10px;
  width: 120px;
  text-align: left;
}

.playerIcon {
  text-align: right;
  padding-right: 10px;
}

.gamePanel {
  width: 200px;
  padding: 15px 5px;
}

.infoPanel {
  background-color: #F5F5F5;
  height: 60px;
  border-radius: 3px;
  margin-bottom: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
}

.controlPanel {
  background-color: rgb(247, 247, 247);
  height: 87%;
  padding-top: 5px;
  border-radius: 3px;
  text-align: center;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
}

.coolButton {
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-radius: 3px;
  color: #f2f2f2;
  height: 44px;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  font-weight: 500;
  margin: auto;
  width: 150px;
  text-align: center;
  margin-bottom: 5px;
}

.reset {
  background-color: #e67f7a;
  border-bottom: 1px solid #ad6d6f;
}

.reset:hover {
  background-color: #e26f69;
}

.reset:active {
  background-color: #db8984;  /* 55% saturation of .reset background-color */
  border-bottom: 1px solid 	#bf8d8e;
}

.create {
  background-color: #2a62c9;
  border-bottom: 1px solid #214c9c;
  margin-top: 4px;
}

.create:hover {
  background-color: #3b71d4;
}

.create:active {
  background-color: #4675cc;  /* 55% saturation of .reset background-color */
  border-bottom: 1px solid 	#4675cc;
}

.start {
  background-color: #44b610;
  border-bottom: 1px solid #399c0b;
}

.start:hover {
  background-color: #54b925;
}

.start:active {
  background-color: #63c934;  /* 55% saturation of .reset background-color */
  border-bottom: 1px solid 	#54b925;
}

.start:disabled {
  background-color: #afc2a6;  /* 55% saturation of .reset background-color */
  border-bottom: 1px solid 	#a1b19a;
}

.moveButton {
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  padding: 3px 10px;
  border-radius: 3px;
}

.playerButton {
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  padding: 3px 10px;
  border-radius: 3px;
  border-color: rgb(186, 186, 186);
}

.replay {
  margin-left: auto;
  padding-right: 15px; /* same as the padding for the board */
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.playerSelector {
  margin-right: auto;
  padding-left: 15px;
}

.active {
  background-color:#E0E0E0;
}

.pad {
  margin-left: 3px;
}

.hidden {
  display: none;
}

.dropdown {
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
  margin-top: 3px;
}

.Dropdown-disabled {
  background-color: whitesmoke !important;
}

.bold {
  font-weight: bold;
}